{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
<ul>
    {% spaceless %}
    <li>
        <ul>
            <li>
                <a href="{{module.url}}">{{module.title}}</a>
            </li>
        </ul>
        <br/>
        <div class="results">
            <form action="#" id="flipLocationForm" method="post" >
                {% csrf_token %}
                <table cellspacing="0" id="result_list" align="center" width="90%" >
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td rowspan="3" align="center" valign="middle" >
                                <img src="/static/question.png" id="locationThumb" >
                                <br/>
                                <br/>
                                <div id="locationInfoContent" ></div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100px;" >
                                Location
                            </td>
                            <td width="150px" >
                                <input type="text" name="location" id="location"  />
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="button" value="Search" onclick="SendFlipRequest();" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </li>
    {% endspaceless %}
</ul>


<script>

    function SendFlipRequest(){
        $("#locationThumb").attr('src', '/static/loading.gif');
        var location = $('#location').val();
        $('#locationInfoContent').html('');

        $.post("/flipbylocation/"+location+'/', $('#flipLocationForm').serialize(),
        function(data){
            if( data.result=='ok' ){
                var html = '<table align="center" >\n\
                            <tr><td>Message:</td><td>#LOCATION# was flipped with success!</td></tr>\n\
                            </table>'.replace("#LOCATION#", data.location);

                $('#locationInfoContent').html(html);
                $('#location').select();
            }
            $("#locationThumb").attr('src', '/static/question.png');
        },"json");
    }


</script>

{% endblock %}
