{% extends "admin_tools/dashboard/module.html" %}
{% load i18n %}
{% block module_content %}
<ul>

    {% spaceless %}

    <li>
        <ul>
            <li>
                <a href="{{module.url}}">{{module.title}}</a>
            </li>
        </ul>
        <br/>
        <div class="results">
            <form action="#" id="barcodeForm" method="post" >
                {% csrf_token %}
                <table cellspacing="0" id="result_list" align="center" width="90%" >
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td rowspan="4" align="center" valign="middle" >
                                <img src="/static/question.png" id="barcodeThumb" >
                                    <br/><br/>
                                <div id="barcodeInfoContent" >

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="100px;" >
                                Code
                            </td>
                            <td width="150px" >
                                <input type="text" name="barcode" id="barcode" onkeypress="return OnBarcodeKeyPressed(event);" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Send to printer
                            </td>
                            <td>
                                <input type="checkbox" name="autoprint" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td>
                                <input type="button" value="Search" onclick="SendBarcodeRequest();" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </li>
    {% endspaceless %}
</ul>


<script>

    function SendBarcodeRequest(){
        $("#barcodeThumb").attr('src', '/static/loading.gif');
        var barcode = $('#barcode').val();
        $('#barcodeInfoContent').html('');

        $.post("/findstock/"+barcode+'/', $('#barcodeForm').serialize(),
        function(data){
            if( data.result=='found' ){
                $("#barcodeThumb").attr('src', "/static/question.png");

                var html = '<table align="center" >\n\
                            <tr><td>ID:</td><td><a href="/fly/stock/#ID#/" >#ID#</a></td></tr>\n\
                            <tr><td>CCU ID:</td><td>#CCU_ID#</td></tr>\n\
                            <tr><td>Genotype:</td><td>#GENOTYPE#</td></tr>\n\
                            </table>'.replace("#ID#", data.stock_id)
                            .replace("#ID#", data.stock_id)
                            .replace("#ID#", data.stock_id)
                            .replace("#CCU_ID#", data.stock_ccu)
                            .replace("#GENOTYPE#", data.genotype);

                $('#barcodeInfoContent').html(html);
                $('#barcode').select();
                $("#barcodeThumb").attr('src', '/static/question.png');
            }else{
                if( data.result=='notfound' ){
                    var html = '<table align="center" ><tr><td>Not found</td></tr></table>';
                    $('#barcodeInfoContent').html(html);
                    $("#barcodeThumb").attr('src', '/static/question.png');
                }else{
                    var html = '<table align="center" ><tr><td>'+data.result+'</td></tr></table>';
                    $('#barcodeInfoContent').html(html);
                    $("#barcodeThumb").attr('src', '/static/question.png');
                }
            }
        },"json");
    }

   
    function OnBarcodeKeyPressed(e) {
        if (e.keyCode == 13) {
            SendBarcodeRequest();
            return false;
        }
    }

</script>

{% endblock %}
